.apresentacao {
    margin: 0 auto;
    
    background-color: #181818;

    font-family: 'Niconne';
    font-size: 30px;
    color: white;
}

.apresentacao--imagem {
    background: linear-gradient(90deg, #181818 0%, rgba(24,24,24,0.1) 100%), url(../img/cesta-buffet-bkg.jpg);
    background-size: cover;
}

.letra-laranja {
    color: #EC8B31;
}
