.apresentacao {
    margin: 0 auto;

    width: 1440px;
    height: 480px;
    
    background-color: #181818;

    font-family: 'Niconne';
    font-size: 30px;
    color: white;
}

.apresentacao--texto {
    width: 50%;
}


.apresentacao--imagem {
    width: 50%;

    background: linear-gradient(90deg, #181818 0%, rgba(24, 24, 24, 0.1) 100%), url(../img/cesta-buffet-bkg.jpg);
    background-size: cover;
}

.apresentacao p {
    margin: 0;
    width: 61%;
}

.letra-laranja {
    color: #EC8B31;
}
