.cabecalho {
    margin: 0 auto;
    
    height: 55px;
    min-width: 1440px;

    background: linear-gradient(0deg, rgba(89, 56, 40, 0.85), rgba(89, 56, 40, 0.85)), url(../img/taboa-de-pao.jpg); 
    background-position: center; 
    background-size: cover;
}

.cabecalho h3 {
    margin: 0;

    font-family: 'Pacifico';
    font-size: 30px;
    font-weight: 400;
    color: #FFF5D4;
}

.cabecalho--navegacao--lista {
    margin: 0;

    width: 700px;
}

.cabecalho--navegacao--item a {
    font-family: 'Niconne';
    font-size: 24px;
    color: #FFF5D4;
}