.combos--table {
    margin-top: 100px;
    border-collapse: separate;
}

.combos--table h2 {
    font-family: 'Playfair Display SC';
    font-weight: 700;
    color: #404040;
}

.combo--container {
    border: 5px solid #404040;
    border-radius: 16px;
    color: #D8DDD9;
}

.combo--container h3 {
    font-family: 'Playfair Display SC';
    font-weight: 700;
}

.combo--container p, #footer--cad-receita {
    font-family: 'Cinzel';
}

.combo--um {
    background-color: #743232;
}
.combo--dois {
    background-color: #48764F;
}
.combo--tres {
    background-color: #34374A;
}