@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Pacifico&family=Cinzel:wght@400;700&family=Roboto&family=Playfair+Display+SC:ital,wght@0,700;1,400&display=swap');
    
body {
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}