.menu--sobremesa--lista, .menu--paes--lista {
    font-family: 'Cinzel';
}

.sobremesa-titulo, .menu--sobremesa--lista {
    color: #404040;
}

.menu--paes {
    border:1px solid #404040;
    border-radius: 16px;

    background: linear-gradient(0deg, rgba(64,64,64,0.75), rgba(64,64,64,0.75)), url(../img/paes-buffet-bkg.jpg);
    background-position: center; 
    background-size: cover;
}

.menu--paes h2 > span {
    border-color: white;
}

.menu--paes--lista li {
    display: inline;
    margin-left: 12px;
}