main {
    margin: 200px auto 100px;
}

.menu {
    border: 15px solid #404040;
}

.menu--titulo {
    margin: 30px 30px 0 0;
    background-size: 10vw;
    background-image: url(../img/trigo-horizontal.png);
    background-repeat: no-repeat;
    background-position: 0 20px;
}

.menu--titulo h1 {
    border-bottom: 2px solid #573434;

    font-family: 'Playfair Display SC';
    font-weight: normal;
    color: #573434;
}

.menu--titulo img {
    height: 150px;
}

main hr {
    border: 0;
    border-bottom: 1px solid #404040;
}

.menu h2 {
    line-height: 1;
    
    font-family: 'Cinzel';
    font-weight: 700;
}

.menu h2 > span {
    border-bottom: 2px solid #404040;
    display: inline-block;
    line-height: 0.85;
}