.menu--container--inferior {
    margin: 32px 30px;

    height: 430px;
}

.menu--container--inferior section {
    width: 460px;
}

.menu--sobremesa {
    color: #404040;
}

.menu--sobremesa--lista {
    height: 100%;
}

.menu--sobremesa--lista li {
    font-size: 32px;
}

.menu--paes {
    border:1px solid #404040;
    border-radius: 16px;

    background: linear-gradient(0deg, rgba(64, 64, 64, 0.75), rgba(64, 64, 64, 0.75)), url(../img/paes-buffet-bkg.jpg);
    background-position: center; 
    background-size: cover;

    color: white;
}

.menu--paes h2 > span {
    border-color: white;
}

.menu--paes--lista {
    margin-bottom: 28px;
    
    height: 100%;
    width: 70%;
    
    font-size: 24px;
    text-align: justify;
}