#prato-principal {
    background-color: rgba(87, 52, 52, 1);

    font-family: 'Cinzel';
    color: #E8BF83;
}

#imagem--hamburguer {
    object-fit: cover;
}

#imagem--trigo-1, #imagem--trigo-2 {
    height: 60px;
}

#imagem--trigo-2 {
    transform: rotateY(180deg);
}

#prato-principal--titulo {
    border-color: #E8BF83;
}
